@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-poppins);
  }

  body {
    font-family: var(--font-dm-sans);
    background-color: #1a1a1a;  /* Fallback color */
  }
}

body {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

html {
  scroll-behavior: smooth;
}

/* Only apply transitions to specific properties */
* {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

/* Add this to prevent page scroll when modal is open */
body.fixed-when-modal [data-rk] {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90vh;
  overflow-y: auto;
}

/* Prevent background scroll when modal is open */
body.fixed-when-modal {
  overflow: hidden;
} 